/* Variáveis de Cor / Temas */
.oceanic {
    --grad1: #66a3ff;
    --grad2: #9046ff;
    --tileColor: #263238;
    --boxColor: #32424A;
    --inputColor: #546E7A;
    --inputHoverColor: #425B67;
    --inputOutline: #1E272C;
    --buttonColor: #009688;
    --buttonHoverColor: #006157;
    --selectionColor: #425B67;
    --gameInfoHolder: #546E7A;
    --fontColor: #FFFFFF;
    --placeholderColor: #ffffffb3;
    --removeButton: #f07178;
    --removeButtonHover: #d25057;
    --removeOutline: #7d2323;
}

* {
    box-sizing: border-box;
    font-size: 1rem;
    border: 1px solid transparent;
    --borderRadius: 10px;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    background: linear-gradient(90deg, var(--grad1), var(--grad2), var(--grad1));
    background-size: 200%;
    animation: bg-pan 10s linear infinite;
    color: var(--fontColor);
    font-family: Verdana, Tahoma, sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

/* Animação do degradê do background */
@keyframes bg-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

/* Div que contém os quadrados do background */
#bgTiles {
    width: 100dvw;
    flex-grow: 1;
    flex-basis: 0;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    position: absolute;
    z-index: -1;
}

.tile {
    position: relative;
}

.tile:before {
    content: "";
    background-color: var(--tileColor);
    inset: .5px;
    position: absolute;
}

/* Cabeçalho da página */
header {
    max-width: 80%;
    margin-inline: auto;
    margin-block: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    padding: 1rem;
    border-radius: var(--borderRadius);
    background-color: var(--boxColor);
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* Fromatando corpo principal */
main>* {
    padding: 1.5rem;
    border-radius: var(--borderRadius);
    background-color: var(--boxColor);
}

/* Configurando inputs */
input {
    background-color: var(--inputColor);
    color: white;
    border-radius: var(--borderRadius);
    padding: 1rem;
}

input:is(:hover, :focus-visible) {
    background-color: var(--inputHoverColor);
}

input:focus-visible, button:focus-visible {
    outline: 3px solid var(--inputOutline);
}

.remove-btn:focus-visible {
    outline: 3px solid var(--removeOutline);
}

input[type=file] {
    font-size: .6rem;
}

input[type=file], ::placeholder {
    color: var(--placeholderColor);
}

input[type=submit], button {
    /* margin-top: 0.4rem; */
    background-color: var(--buttonColor);
    color: var(--fontColor);
    font-size: 1rem;
}

input[type=submit]:hover, button:hover {
    background-color: var(--buttonHoverColor);
}


/* Responsividade */
@media screen and (width > 800px) {
    body {
        overflow: hidden;
    }

    header h1 {
        font-size: 3rem;
    }

    .infoBox input[type=file] {
        font-size: 1rem;
    }
}