/* Barra de pesquisa */
#search-viewer {
    display: flex;
    gap: 1rem;
}

#search-viewer input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#search-viewer button {
    padding: 1rem;
}

#search-viewer button:not(#search-btn) {
    border-radius: var(--borderRadius);
}

#search-viewer #search-btn {
    border-top-right-radius: var(--borderRadius);
    border-bottom-right-radius: var(--borderRadius);
}

/* Onde o conteúdo principal é contido */
main {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    margin-inline: auto;
    margin-block: 1rem;
    gap: 2rem;
}

main form, label[for=fotocartucho] {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Formatação da lista de Jogos */
#gameList {
    box-sizing: content-box;
    height: calc(((1.5rem * 2 + 10rem) * 3) + (1rem * 2));
    overflow-y: hidden;
    text-align: center;
}

#gameList form {
    min-height: fit-content;
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
}

/* Formatação do container com as informações do jogo */
.jogo {
    box-sizing: content-box;
    height: 10rem;
    background-color: var(--gameInfoHolder);
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: start;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: var(--borderRadius);
    margin-right: .5rem;
}

/* Holder da imagem */
.jogo .imgBox {
    height: 10rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.jogo .imgBox:hover::before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 15%;
    position: absolute;
    border-radius: var(--borderRadius);
}

.jogo .imgBox>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--borderRadius);
}

/* Informações textuais do cartucho */
.jogo .gameInfo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.jogo .gameInfo>.gameTitle {
    font-weight: bolder;
}

/* Botão para remover o cartucho cadastrado */
.jogo .remove-btn {
    background-color: var(--removeButton);
    border-radius: var(--borderRadius);
    border: none;
    margin: 0;
    padding: .5rem;
    font-size: 1rem;
    width: fit-content;
}

.jogo button:hover {
    background-color: var(--removeButtonHover);
}

/* Responsividade */
@media screen and (width > 800px) {
    main {
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (930px > width > 800px) {

    .jogo {
        height: unset;
        flex-direction: column;
        gap: 1rem;
    }

    .jogo .imgBox {
        height: 10rem;
    }

    .jogo .gameInfo {
        gap: .5rem;
    }

    .jogo button {
        align-self: center;
    }
}

@media screen and (930px > width) {
    #search-viewer {
        flex-direction: column;
    }
}