/* Botão de logout */
#logout {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

#logout button {
    font-size: .8rem;
    padding: 1em;
}

/* Barra de pesquisa */
#search-viewer {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

#search:has(input:focus-visible) {
    outline: 3px solid var(--inputOutline);
    border-radius: var(--borderRadius);
}

#search-viewer input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#search-viewer button {
    padding: 1rem;
}

#search-viewer button:not(#search-btn) {
    border-radius: var(--borderRadius);
}

#search {
    display: flex;
}

#search-viewer #search-btn {
    border-radius: 0 var(--borderRadius) var(--borderRadius) 0;
}

/* Onde o conteúdo principal é contido */
main {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

#popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: #000000f0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

@keyframes imgGrow {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

#popup img {
    animation: imgGrow .05s ease-in;
    min-height: 30%;
    max-height: 40%;
    max-width: 90%;
    user-select: none;
}

label[for=fotocartucho] {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Formatação da lista de Jogos */
#gameList {
    position: relative;
    box-sizing: content-box;
    height: calc(((1.5rem * 2 + 10rem) * 3) + (1rem * 2));
    overflow-y: hidden;
    text-align: center;
}

#results {
    position: absolute;
    top: .3rem;
    left: .3rem;
    font-size: .9rem;
}

#gameList form {
    min-height: fit-content;
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
}

/* Formatação do container com as informações do jogo */
.jogo {
    position: relative;
    box-sizing: content-box;
    height: 10rem;
    background-color: var(--gameInfoHolder);
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: start;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: var(--borderRadius);
    margin-right: .5rem;
}

.jogo .gameID {
    position: absolute;
    left: .25rem;
    writing-mode: vertical-lr;
    transform: rotateZ(180deg);
}

/* Holder da imagem */
.jogo .imgBox {
    height: 10rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.jogo .imgBox:hover::before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 15%;
    position: absolute;
    border-radius: var(--borderRadius);
}

.jogo .imgBox>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--borderRadius);
}

/* Informações textuais do cartucho */
.jogo .gameInfo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.jogo .gameInfo>.gameTitle {
    font-weight: bolder;
}

/* Botão para remover ou editar o cartucho cadastrado */
form > .buttons {
    text-align: center;
}

.jogo button {
    border-radius: var(--borderRadius);
    border: none;
    margin: 0;
    padding: .5rem;
    font-size: 1rem;
    width: fit-content;
}

.remove-btn {
    background-color: var(--removeButton);
}

.edit-btn {
    background-color: var(--editButton);
}

.remove-btn:hover, .remove-btn:focus-visible {
    background-color: var(--removeButtonHover);
}

.edit-btn:hover, .edit-btn:focus-visible {
    background-color: var(--editButtonHover);
}

.remove-btn:focus-visible {
    outline: 3px solid var(--removeButtonOutline);
}

.edit-btn:focus-visible {
    outline: 3px solid var(--editButtonOutline);
}

/* Responsividade */
@media screen and (width > 800px) {
    #logout button {
        font-size: 1rem;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (930px > width > 800px) {

    .jogo {
        height: unset;
        flex-direction: column;
        gap: 1rem;
    }

    .jogo .gameID {
        position: absolute;
        writing-mode: horizontal-tb;
        top: .15rem;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .jogo .imgBox {
        height: 10rem;
    }

    .jogo .gameInfo {
        gap: .5rem;
    }

    .jogo button {
        align-self: center;
    }
}

@media screen and (930px > width) {

    #search-viewer {
        flex-direction: column;
    }
}