/* Animação do degradê do background */
@keyframes bg-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

* {
    box-sizing: border-box;
}

body {
    --grad1: #66a3ff;
    --grad2: #9046ff;
    animation: bg-pan 10s linear infinite;
    height: 100dvh;
    height: 100vh;
    color: white;
    font-family: Verdana, Tahoma, sans-serif;
    background: linear-gradient(90deg, var(--grad1), var(--grad2), var(--grad1));
    background-size: 200%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* Div que contém os quadrados do background */
#bgTiles {
    height: 100%;
    width: 100dvw;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    position: absolute;
    z-index: -1;
}

.tile {
    position: relative;
}

.tile:before {
    content: "";
    background-color: #263238;
    inset: 1px;
    position: absolute;
}

header {
    margin-inline: auto;
    padding: 2.5%;
    width: fit-content;
    font-size: 36pt;
}

/* Onde o conteúdo principal é contido */
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin-inline: auto;
    margin-block: 1rem;
    gap: 2rem;
}

main>* {
    padding: 1.5rem;
    border-radius: 10px;
    background-color: #32424A;
}

main form, ul {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form input {
    background-color: #546E7A;
    color: white;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
}

form input:hover {
    background-color: #425B67;
}

form input[type=submit] {
    margin-top: 0.4rem;
    background-color: #009688;
    font-size: 1rem;
}

form input[type=submit]:hover {
    background-color: #006157;
}

#gameList {
    font-size: 18pt;
    height: calc(((1.5rem * 2 + 10rem) * 3) + (1rem * 2) + (1.5rem * 2));
    overflow-y: hidden;
}

ul {
    max-height: 100%;
    overflow-y: auto;
}

.jogo {
    background-color: #546E7A;
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    padding: 1.5rem;
    border-radius: 10px;
    margin-right: .5rem;
}

.imgBox {
    height: 10rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.imgBox:hover::before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 15%;
    position: absolute;
    border-radius: 10px;
}

.imgBox>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.gameInfo {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.gameInfo>.gameTitle {
    font-weight: bolder;
}